.btn {
  display: block;
  border-radius: 5px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  background-color: inherit;
  opacity: 1;

  transition: opacity var(--modal-transition-delay) var(--default-transition-timing);
  cursor: pointer;
}

.btn--active {
  border: none;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
}

.btn:hover {
  opacity: 0.8;
}
