.btn {
  display: block;
  border-radius: 5px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  background-color: inherit;
  color: var(--white-text-color);
  opacity: 1;
  border: 1px solid #ffffff;
  transition: opacity var(--animation-duration) var(--timing-function);
  outline: none;
  @media screen and (min-width: 320px) {
    width: 130px;
    padding: 14px 36px;
  }
  @media screen and (min-width: 768px) {
    width: 136px;
    padding: 14px 38px;
  }
  @media screen and (min-width: 1024px) {
  }
}

.btn--active {
  border: none;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
}

.btn:hover {
  opacity: 0.8;
}
