.hero__item{
    display: flex;
    flex-direction: column;
}
.hero__imagebox{
    display: flex;
    margin-bottom: 10px;
    
}
.hero__image{
    border-radius: 5px;
}
.hero__title{
    color: var(--black-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}
.hero__descriptionbox,.descriptionbox__list,.descriptionbox__item{
    display: flex;
}
.hero__genres, .hero__year,.symbol{
    color: var(--accent-color);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
.hero__year{
    display: flex;
    margin-left: 7px;
    align-items: center;
}
.hero__year::before{
    position:relative;
    right: 3px;
    bottom: 0;
    float: left;
    content: "";
    width: 1px; 
    background-color: var(--accent-color);
    height: 11px; 
}
.symbol:last-child{
    display: none;
}
.vote-average__position {
    position: relative;
}

.parameter__position {
    position: absolute;
    bottom: 0px;
    right: 0;
    margin-right: 0px;
}