.hero {
  padding-top: 20px;
  padding-bottom: 15px;
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding-top: 60px;
    padding-bottom: 25px;
  }
  @media screen and (min-width: 1024px) {
    padding-top: 60px;
    padding-bottom: 41px;
  }
}
.hero__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
  & li {
    cursor: pointer;
  }
  & img {
    width: 100%;
  }
}
