/* Lightbox */
.lightbox {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal-form {
  position: absolute;
  margin: auto;
  width: 280px;
  background-color: var(--white-text-color);

  @media screen and (min-width: 768px) {
    width: 618px;
  }
  @media screen and (min-width: 1024px) {
    width: 882px;
  }
}

.modal-form__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;
  background-image: url('../images/close.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.modal-form__card {
  padding: 48px 20px 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    padding: 42px 30px 40px;
  }
  @media screen and (min-width: 1024px) {
    padding: 50px 30px 40px;
  }
}

.card__image {
  width: 240px;
  margin-bottom: 30px;
  border-radius: 5px;
  object-fit: cover;

  @media screen and (min-width: 768px) {
    width: 264px;
    margin-bottom: 0;
    margin-right: 32px;
  }
  @media screen and (min-width: 1024px) {
    width: 396px;
    margin-right: 30px;
  }
}

.card__name {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #000000;

  @media screen and (min-width: 1024px) {
    margin-bottom: 30px;

    font-size: 30px;
    line-height: 1.167;
  }
}

.card__parametes {
  margin-bottom: 20px;
}

.card__parameter:not(:last-child) {
  margin-bottom: 10px;
}

.parameter__name {
  display: inline-block;
  width: 108px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;

  @media screen and (min-width: 1024px) {
    width: 152px;
  }
}

.parameter__value {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  color: var(--black-text-color);
}

.parameter__value--vote {
  width: 36px;
  padding: 1px 0px;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  border-radius: 5px;
}

.card__about-caption {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;
  text-transform: uppercase;
}

.card__about {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--black-text-color);
}

.modal-form__buttons {
  display: flex;
}

.modal-form__btn {
  width: 113px;
  height: 44px;

  @media screen and (min-width: 768px) {
    width: 125px;
  }
  @media screen and (min-width: 1024px) {
    width: 136px;
  }
  &:not(:last-child) {
    margin-right: 15px;
  }
}
