:root {
  --black-text-color: #000000;
  --white-text-color: #ffffff;
  --accent-color: #ff6b08;
  --footer-text-color: #545454;
  --modal-text-color: #8c8c8c;
  --modal-transition-delay: 250ms;
  --default-transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --error-text-color: #ff001b;
}
