/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента

// @import './example';
@import './variables';
@import './common';
@import './container';
@import './buttons';
@import './header';
@import './hero';
@import './modal';
@import './pages';
@import './footer';

