<footer class="footer">
    
    <div class="footer-container">
       <p class="footer-container_first-part">&#169 2020 | All Rights Reserved |</p> 

       <div class="footer-container_second-part">
        <p class="footer-container_indent">Developed with</p>
        <img src="\images\footer-heart.svg" width="14" height="13" alt="footer-heart" class="footer-container_indent">
        <p>by 
            <a href="#" class="footer-container_link" footer-modal-open><u>GoIT Students</u></p></a>
       </div>
      
    </div>
   
</footer>