<div class="backdrop is-hidden" footer-modal>
    <div class="footer-modal">
        <button type="button" class="footer-modal__close--button" footer-modal-close>
            <svg class="footer-modal__icon" width="14" height="14">
                <use href=""></use>
            </svg>
        </button>

        <ul class="card-set">
            <li class="card-set_item">
                <img 
                src="./images/team-modal/qr-code-1.jpg"
                width="200"
                height="200"
                alt = "ILY">
            </li>
            <li class="card-set_item">
                <img 
                src="./images/team-modal/qr-code-2.jpg"
                width="200"
                height="200"
                alt = "ILY">
            </li>
            <li class="card-set_item">
                <img 
                src="./images/team-modal/qr-code-3.jpg"
                width="200"
                height="200"
                alt = "ILY">
            </li>
            <li class="card-set_item">
                <img 
                src="./images/team-modal/qr-code-4.jpg"
                width="200"
                height="200"
                alt = "ILY">
            </li>
            <li class="card-set_item">
                <img 
                src="./images/team-modal/qr-code-5.jpg"
                width="200"
                height="200"
                alt = "ILY">
            </li>
            <li class="card-set_item">
                <img 
                src="./images/team-modal/qr-code-6.jpg"
                width="200"
                height="200"
                alt = "ILY">
            </li>
            <li class="card-set_item">
                <img 
                src="./images/team-modal/qr-code-7.jpg"
                width="200"
                height="200"
                alt = "ILY">
            </li>
            <li class="card-set_item">
                <img 
                src="./images/team-modal/qr-code-8.jpg"
                width="200"
                height="200"
                alt = "ILY">
            </li>
        </ul>

    </div>

</div>