<header class="header ">
    <div class="header__container">
        <a href="./index.html" class="header__logo">
            <svg class="logo animate__animated animate__pulse  animate__infinite">
                <use class=" animate__delay-5s  " href="./images/sprite.svg#film"></use>
            </svg>
            Filmoteka
        </a>
        <form class="header__search-form" id="search-form">
            <input type="text" name="query" autocomplete="off" placeholder="Поиск фильмов"
                class="header__search-form-input" id="search-form-input" />
            <button type="submit" class="header__form-btn"></button>
        </form>
        <nav>
            <ul class="header__nav">
                <li>
                    <a href="./index.html" class="header__nav-home-link" id="home-link">Home</a>
                </li>
                <li>
                    <a href="#" class="header__nav-library-link" id="library-link">my library</a>
                </li>
            </ul>
        </nav>
    </div>
</header>