<header class="header ">
    <div class="header-container">
        <a href="#" class="logo header-logo">
            Filmoteka
        </a>
        <form class="search-form" id="search-form">
            <input type="text" name="query" autocomplete="off" placeholder="Поиск фильмов" class="search-form-input" />
            <button type="submit" class="form-btn"></button>
        </form>
        <nav>
            <ul class="nav-list">
                <li>
                    <a href="#" class="home-link" id="home-link">Home</a>
                </li>
                <li>
                    <a href="#" class="library-link" id="library-link">my library</a>
                </li>
            </ul>
        </nav>
    </div>
</header>