<section class="page">
    <div class="page__container container">
        <button class="page__btn--arrow page__btn--first" type="button">&#9668;&#9668;</button>
        <button class="page__btn page__btn--prev" type="button">
            <svg class="icon" width="14" height="14">
                <use href="./images/sprite.svg#icon-arrow-left2"></use>
            </svg>
        </button>
        <div class="page__ellipsis--start page__block page__ellipsis--hidden">...</div>
        <div class="page__numbers--container">
            <div class="page__number page__block page__number--active">1</div>
            <div class="page__number page__block">2</div>
            <div class="page__number page__block">3</div>
            <div class="page__number page__block page__number-removable">4</div>
            <div class="page__number page__block page__number-removable">5</div>
        </div>
        <div class="page__ellipsis--finish page__block ">...</div>
        <button class="page__btn page__btn--next" type="button">
            <svg class="icon" width="14" height="14">
                <use href="./images/sprite.svg#icon-arrow-right2"></use>
            </svg>
        </button>
        <button class="page__btn--arrow page__btn--last" type="button">&#9658;&#9658;</button>
    </div>
</section>